* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // cursor:url('https://web-abin.github.io/abinWeb/images/cursor.png'),default;
}
body {
  overflow: hidden;
}
#__nuxt {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
#__nuxt::-webkit-scrollbar {
  width: 5px;
  background-color: #ff5a00;
}
#__nuxt::-webkit-scrollbar-thumb {
  width: 5px;
  background: yellow;
}


a {
  text-decoration: none;
  color: #000000d9;
  &:hover {
    color: #1890ff;
  }
}

// 内容面板公共样式
.box {
  width: 1080px;
  min-height: 80vh;
  padding: 16px;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
  background-color: $--color-box;
}

@keyframes circle-1 {
  33% {
    transform: translate(0px, 16px) translateZ(0);
  }

  66% {
    transform: translate(12px, 64px) translateZ(0);
  }
}

@keyframes circle-2 {
  33% {
    transform: translate(120px, -10px) translateZ(0);
  }

  66% {
    transform: translate(82px, -48px) translateZ(0);
  }
}

@keyframes circle-3 {
  33% {
    transform: translate(20px, 12px) translateZ(0);
  }

  66% {
    transform: translate(12px, 4px) translateZ(0);
  }
}

@keyframes circle-4 {
  33% {
    transform: translate(76px, -12px) translateZ(0);
  }

  66% {
    transform: translate(132px, -8px) translateZ(0);
  }
}

@keyframes circle-5 {
  33% {
    transform: translate(124px, 28px) translateZ(0);
  }

  66% {
    transform: translate(50px, -32px) translateZ(0);
  }
}

@keyframes circle-6 {
  33% {
    transform: translate(28px, -16px) translateZ(0);
  }

  66% {
    transform: translate(76px, -56px) translateZ(0);
  }
}

@keyframes circle-7 {
  33% {
    transform: translate(8px, 28px) translateZ(0);
  }

  66% {
    transform: translate(20px, -60px) translateZ(0);
  }
}

@keyframes circle-8 {
  33% {
    transform: translate(32px, -4px) translateZ(0);
  }

  66% {
    transform: translate(56px, -20px) translateZ(0);
  }
}

@keyframes circle-9 {
  33% {
    transform: translate(20px, -12px) translateZ(0);
  }

  66% {
    transform: translate(100px, -8px) translateZ(0);
  }
}

@keyframes circle-10 {
  33% {
    transform: translate(98px, 20px) translateZ(0);
  }

  66% {
    transform: translate(140px, 28px) translateZ(0);
  }
}

@keyframes circle-11 {
  33% {
    transform: translate(4px, 4px) translateZ(0);
  }

  66% {
    transform: translate(68px, 20px) translateZ(0);
  }
}

@keyframes circle-12 {
  33% {
    transform: translate(56px, 0px) translateZ(0);
  }

  66% {
    transform: translate(60px, -32px) translateZ(0);
  }
}