@import "./theme.scss";
$--color-text-primary: #677c91 !default;
$--color-text-primary-hover: #7196fe !default;
$--color-text-title: #353535 !default;
$--color-border-primary: #e8ecef !default;
$--bg-color-primary: #ffffff !default;
$--border-color-primary: #e8ecef !default;
$--bg-button-color: #7196fe !default;
$--font-size-28: 28px;
$--font-size-24: 24px;
$--font-size-18: 18px;
$--font-size-16: 16px;
$--font-size-14: 14px;
$--font-size-12: 12px;
$--font-weight: bold;
$--border-radius: 4px;
$--box-shadow: 0 0 10px 0 rgba(241, 243, 244, 0.8);
$--bg-nav-color: #f8fafb;
@mixin flex-type($justify, $align) {
    justify-content: $justify;
    align-items: $align;
}

@mixin button {
    width: 96px;
    height: 32px;
    font-size: $--font-size-14;
    color: $--color-text-primary;
    border-radius: $--border-radius;
    border: solid 1px $--border-color-primary;
    background-color: $--bg-color-primary;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}
@mixin button-hover {
    width: 96px;
    height: 32px;
    border-radius: $--border-radius;
    border: solid 1px $--border-color-primary;
    background-color: $--bg-button-color;
    color: $--bg-color-primary;
}

//index
$--i-name-color: #252631;
$--i-geniubot-color: #353535;
$--i-in-color: rgba(53, 53, 53, 0.6);

//details
$--d-table-hover-color: #f8fafb;

@mixin img_bg($url) {
    background: url($url) no-repeat;
    background-size: 100% 100%;
}
@mixin title {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid $--color-border-primary;
    font-weight: $--font-weight;
    font-size: $--font-size-16;
    color: $--i-geniubot-color;
    padding-left: 30px;
}
@mixin borderRadius {
    border-radius: $--border-radius;
    box-shadow: $--box-shadow;
}

// .warning {
//     color: #ff5b5a !important;
// }
.addModel {
    border-radius: 12px !important;
    .el-dialog__header {
        padding: 0 !important;
    }
    .el-dialog__body {
        padding: 0 !important;
        border-radius: 12px;
    }
    .el-input {
        width: 283px;
        height: 30px;
        .el-input__wrapper {
            border-radius: 6px;
            width: 283px;
            height: 30px;
        }
    }
    .el-button {
        width: 108px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
    }
}
/* 编辑器关键字字体色 */
.ace-eclipse .ace_comment.ace_doc.ace_tag_1 {
    color: #22a2c3;
}
.ace-eclipse .ace_comment.ace_doc.ace_html_1 {
    color: #f68c60;
}
.ace-eclipse .ace_comment.ace_doc.ace_html_2 {
    color: #f68c60;
}
body {
    padding-bottom: 50px;
}
:deep(.el-menu--horizontal > .el-sub-menu.is-active .el-sub-menu__title),
.el-menu.el-menu--horizontal {
    border: none;
}
.el-menu .el-sub-menu__icon-arrow {
    display: none;
}
.el-menu--horizontal > .el-sub-menu .el-sub-menu__title {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-weight: 400;
}
:deep(.el-menu--horizontal > .el-submenu:focus .el-submenu__title),
:deep(.el-menu--horizontal > .el-submenu:hover .el-submenu__title),
:deep(.el-menu--horizontal > .el-sub-menu.is-active .el-sub-menu__title) {
    color: #677c91;
}
.el-menu--horizontal .el-menu .el-sub-menu.is-active > .el-sub-menu__title {
    color: #353535;
}
.pagination {
    padding: 20px 0;
    @include flex-type(center, center);
}
.common-box {
    width: 100%;
    height: calc(100% - 64px);
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0px 0px 10px -8px rgba(0, 0, 0, 0.3);
    background: #ffffff;
    border-radius: 12px;
    .project {
        height: 60px;
        border-bottom: 1px solid #e8ecef;
        font-size: $--font-size-16;
        font-weight: $--font-weight;
        color: #353535;
        padding: 0 20px;
        @include flex-type(space-between, center);
    }
    .content {
        padding: 20px;
    }
    .null {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

:deep(.el-card.is-always-shadow) {
    box-shadow: none;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #000000d9;
    &:hover{
        color: #1890ff;
    }
}

// 内容面板公共样式
.box {
    width: 1080px;
    min-height: 80vh;
    padding: 16px;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    background-color: $--color-box;
}