#__nuxt::-webkit-scrollbar {
  width: 5px;
  background-color: #ff5a00;
}
#__nuxt::-webkit-scrollbar-thumb {
  width: 5px;
  background: yellow;
}

*{
  // cursor:url('https://p9-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/4d88c4ffa7d347ba8704f0f8e4c47bdc~tplv-k3u1fbpfcp-watermark.image'),default;
}