#__nuxt::-webkit-scrollbar {
  width: 5px;
  background-color: #ff5a00;
}
#__nuxt::-webkit-scrollbar-thumb {
  width: 5px;
  background: yellow;
}

*{
  // cursor:url('https://web-abin.github.io/abinWeb/images/cursor.png'),default;
  // cursor:url('https://web-abin.github.io/abinWeb/icons/20.png'),default;
}